<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>NETWORKSPHERE</title>
    <link rel="icon" href="img/logo-footer.png" type="image/png">
    <meta name="description" content="NETWORKSPHERE es una plataforma de networking que conecta a profesionales de todo el mundo.">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="../img/logo.png" alt="LOGO">
        <img id="btn-menu" src="../img/menu-icon.png" alt="MENU" class="menu-icon">
        <img id="close-icon" src="../img/close-icon.png" alt="CLOSE" class="close-icon">
        <!-- Nav -->
        <nav id="nav-header" class="nav-hidden">
            <img src="../img/logo.png" alt="LOGO">
            <ul>
                <li id="index">Inicio</li>
                <li id="about">Sobre Nosotros</li>
                <li id="iniciar">Iniciar Sesion</li>
                <li id="conctat">Contacto</li>
            </ul>
        </nav>
    </header>
    <!-- Main -->

 <footer>
        <img src="../img/logo-footer.png" alt="logo-footer">
        <!-- Nav Footer-->
        <nav id="nav-footer">
            <ul>
                <li><a href="">Terminos de privacidad</li>
                <li><a href="">Politica de cookies</li>
            </ul>
        </nav>
        <p>NETWORKSPHERE &copy; 2024 - 2025</p>
    </footer>
    <!-- Script -->
    <script src="../scripts/script.js"></script>
    <script src="../scripts/Redirecions.js"></script>
    <script src="../scripts/signup.js"></script>
</body>
</html>