<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/CSS/styles.css"/>
    <title>Registro - NETWORKSPHERE</title>
    <link rel="icon" href="../img/logo-footer.png" type="image/png">
    <meta name="description" content="Crea una cuenta en NETWORKSPHERE y empieza a conectar con profesionales de todo el mundo.">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="../img/logo.png" alt="LOGO">
        <img id="btn-menu" src="../img/menu-icon.png" alt="MENU" class="menu-icon">
        <img id="close-icon" src="../img/close-icon.png" alt="CLOSE" class="close-icon">
        <!-- Nav -->
        <nav id="nav-header" class="nav-hidden">
            <img src="../img/logo.png" alt="LOGO">
            <ul>
                <li id="index">Inicio</a></li>
                <li id="about">Sobre Nosotros</a></li>
                <li id="iniciar">Iniciar Sesión</a></li>
                <li id="conctat">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <section class="login-section">
            <article class="card login-card">
                <h2>Crear Cuenta</h2>
                <form id="register-form">
                    <label for="name">Nombre Completo</label>
                    <input type="text" id="name" name="name" placeholder="Tu nombre completo" required>
                    <div class="error-container">Falta el nombre</div>

                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" placeholder="email@ejemplo.com" required>
                    <div class="error-container">Falta el correo</div>
                    <label for="password">Contraseña</label>
                        <div class="password-container">
                            <input type="password" id="password" name="password" placeholder="Crea una contraseña" required>
                            <span id="toggle-password" class="toggle-password">🙈</span>
                              <div id="strength-bar" class="strength-bar"></div>
                              <div class="error-container"></div>
                        </div>
                    <label for="confirm-password">Confirmar Contraseña</label>
                        <div class="password-container">
                            <input type="password" id="confirm-password" name="confirm-password" placeholder="Repite tu contraseña" required>
                            <span id="toggle-confirm-password" class="toggle-password">🙈</span>
                            <div class="error-container"></div>
                        </div>
                        <div class="checkbox-container">
                        <div class="checkbox-item">
                            <input type="checkbox" id="terms" name="terms" required>
                            <label for="terms">Acepto los <a href="#">Términos y Condiciones</a></label>
                        </div>
                        <div class="checkbox-item">
                            <input type="checkbox" id="editor" name="editor">
                            <label for="editor">¿Quieres ser editor? ⚙️</label>
                        </div>
                        </div>
                    <button type="submit" class="btn-login">Registrarse</button>
                </form>
                <p>¿Ya tienes una cuenta? <a href="services.html" class="btn-register">Iniciar Sesión</a></p>
            </article>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <img src="../img/logo-footer.png" alt="logo-footer">
        <nav id="nav-footer">
            <ul>
                <li><a href="">Términos de privacidad</a></li>
                <li><a href="">Política de cookies</a></li>
            </ul>
        </nav>
        <p>NETWORKSPHERE &copy; 2024 - 2025</p>
    </footer>
    <!-- Script -->
   <script src="../scripts/script.js"></script>
    <script src="../scripts/Redirecions.js"></script>
    <script src="../scripts/signup.js"></script>
</body>
</html>
